/**
 * = Footers
 */

.footer{
    @include display-flex();
    position: relative;

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a {
                text-decoration: none;
                position: relative;
                display: block;
                color: $gray-700;

                &:hover {
                    color: $primary;
                }
            }

            .btn {
                margin: 0;
            }
        }
    }

    .footer-brand{
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        
        img.common {
            height: 40px;
        }
    
        img {
            height: 40px;
            width: 40px;
        }
        &:hover,
        &:focus{
            color: $black;
        }
    }

    .copyright{
        font-size: $font-size-sm;
    }

}